
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

html{
    font: 62.5%;
}

#btnsubmit{
    width: 4.5rem;
    height: 2.5rem;
    border: 1px solid rgb(170, 170, 170);
    border-left: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

input[type="text"]{
    width: 20rem;
    height: 2.5rem;
    border: 1px solid rgb(170, 170, 170);
    outline: none;
    padding-left: 1rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.logo-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-container span{
    color: white;
    font-family: 'League Gothic', sans-serif;
    font-size: 1.7rem;
    letter-spacing: 0.05rem;
    margin-left: 0.3rem;
}
.logo-container img{
    width: 2rem;
    height: 2rem;
}
.channel-detail .channel{
    padding: 0.7rem;
    border-radius: 0.8rem;
    background-color: rgba(0, 0, 0, 0.549);
}
.channel-detail img{
    width: 3rem;
    height: 3rem;
}

.comment-detail{
    margin: 0.5rem 0;
    border-radius: 0.3rem;
}
.description{
    padding: 0.5rem;
    border-radius: 0.4rem;
    background-color: rgba(0, 0, 0, 0.549);
}

.recommended-section h1{
   border-radius: 0.8rem;
    background-color: rgba(0, 0, 0, 0.645);
}

.recommended-video img{
    width: 350px;
    height: 202px;
}

@media (max-width: 700px){
    .recommended-video img{
        width: 250px;
    }
    .video-container h2{
        text-align: left;
    }
}
@media (max-width: 500px){
    #btnsubmit{
        width: 3.5rem;
    }
    input[type="text"]{
        width: 10rem;
    }
    .recommended-video{
        flex-direction: column;
        padding: 0.5rem;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.645);
    }
    .recommended-video .recommended-detail-video{
        text-align: center;
        justify-content: flex-start;
        align-items: center;
    }
    .recommended-video img{
        width: 250px;
    }
    .video-container iframe{
        height: 450px;
    }
}
@media (max-width: 350px){
    #btnsubmit{
        width: 3rem;
    }
    input[type="text"]{
        width: 7rem;
    }
}